<h2><a href="/pokemons">All Pokemon</a></h2>

<div>
  <img src="<%= @pokemon.img_url %>" alt="poke portrait">
  <p>Pokemon: <%= @pokemon.name %></p>
  <p>artist - CP: <%= @pokemon.cp %></p>
  <p>artist - Type: <%= @pokemon.poke_type %></p>

</div>
